<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="customer_order_giftcard" instance="Mageplaza\GiftCard\Observer\CreateGiftCard" />
    </event>
    <event name="controller_action_predispatch_checkout_cart_couponPost">
        <observer name="apply_code" instance="Mageplaza\GiftCard\Observer\ApplyCode" />
    </event>
</config>
